<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тип литературы</title>
    <link rel="stylesheet" th:href="@{/site.css}">
</head>
<header>
    <div class="wrap">
        <div class="header">
            <div class="nav">
                <ul>
                    <li ><a th:href="@{/Employee/Book/Index}">Товары</a></li>
                    <li  ><a th:href="@{/Employee/Genre/Index}">Жанр</a></li>
                    <li  class="active"><a th:href="@{/Employee/TypeLiterature/Index}">Тип литературы</a></li>
                    <li  ><a th:href="@{/Employee/Schedule/Index}">График</a></li>
                    <li  ><a th:href="@{/Employee/Shop/Index}">Магазин</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>
<body>
<main class="container-md">
    <h1>Редактирование</h1>
    <form th:method="POST" th:action="@{/Employee/TypeLiterature/Update/{id}(id=${object.getIdBookTypeLiterature()})}" th:object="${object}">
        <input placeholder="Название типа литературы:" type="text" class="form-control p-2" th:field="*{nameTypeLiterature}"/>
        <span th:if="${#fields.hasErrors('nameTypeLiterature')}" th:errors="*{nameTypeLiterature}" style="color: red"></span>
        <br/>
        <button type="submit"  class="buttonstyle">Сохранить</button>
    </form>
</main>
</body>
</body>
</html>