<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
    <link rel="stylesheet" th:href="@{/site.css}">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Логин</th>
        <th>Роль</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.idUser}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <span th:text="${role.name()}"/>
            </div>
        </td>
        <td>
            <a class="btn btn-light" th:href="@{/Admin/Update/{id}(id=${user.idUser})}">🔄</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>